@mixin positions($top,$color: '') {
  position: absolute;
  left: 30px;
  top: $top + px;
  color: $color;
}

@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}